body {
  background: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  color: black;
  height: 100%;
  text-align: center;
  font-size: 18px;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  margin: 5px 0;
}

h1 {
  font-size: 2em;
}

p {
  font-size: 1.3em;
  margin-top: 7.5px;
  margin-bottom: 1.5px;
}

button {
  cursor: pointer;
  background-color: #fff;
  border-radius: 10px;
  color: #2980b9;
  padding: 12px 20px;
  font-size: 16px;
}

button:active {
  transform: scale(0.95);
}

button:hover {
  background-color: rgb(216, 216, 216);
}

.hangman-game {
  position: relative;
}

.drawing {
  background-color: rgb(206, 231, 150);
  border: black solid 2px;
  border-radius: 10px;
  padding: 15px;
  stroke-linecap: round;
  stroke-width: 0.5rem;
}

.gallow {
  stroke: brown;
}

.person {
  fill: orange;
  stroke: orange;
  transform-origin: inherit;
  animation-name: rotate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0);
  }
}

.keyboard {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.key {
  float: left;
  border: 2px solid gray;
  background: lightgray;
  color: black;
  border-radius: 3px;
  margin: 2px;
  font-size: 2rem;
  font-weight: 700;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nonGuessedKey {
  border: 2px solid gray;
  background: lightgray;
  color: black;
}

.nonGuessedKey:hover {
  background-color: yellow;
  cursor: pointer;
}

.guessedKey {
  border: 2px solid gray;
  background: rgb(74, 72, 72);
  color: rgb(101, 101, 101);
  cursor: default;
}

.word {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.theme {
  margin-top: 1rem;
}

.popup {
  padding: 1rem;
  border: black solid 2px;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.won {
  background-color: blanchedalmond;
}

.lost {
  background-color: rgb(255, 205, 205);
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}
